@tailwind base;
@tailwind components;
@tailwind utilities;

.darkBtn{
    @apply bg-[#292C27] text-white
}
.smothGreen{
    @apply bg-green-600
}
.textColor{
    @apply text-black font-bold
}

.buttonWhite{
    @apply text-white bg-green-500
}
.buttonTrensparent{
    @apply text-black border 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
